#welcome {
    padding: 20px;
}

#welcome-subtext {
    padding-bottom: 20px;
}

#board button {
    width: 90px;
    height: 90px;
    background-color: gray;
    margin: 1px;
    border: 2px solid black;
    border-radius: 50%;
}

td {
    padding: 5px;
}