#welcome {
    padding: 20px;
}

#welcome-subtext {
    padding-bottom: 30px;
}

#start-button {
    padding-bottom: 50px;
}

#board {
    display: none;
}

#board button {
    width: 80px;
    height: 80px;
    background-color: gray;
    margin: 1px;
    border: 2px solid black;
    border-radius: 50%;
}

td {
    padding: 5px;
}

